
<section class="hero">
  <div class="container">
    <h1>Bienvenue sur PartaGE</h1>
    <p>Découvrez et partagez des bornes de recharge pour véhicules électriques.</p>
    
   
  </div>
</section>
<section class="features">
  <div class="container">
    <h2>Nos fonctionnalités</h2>
    <div class="feature-cards">
      <div class="card">
        <img src="assets/images/TrouverBornes.jpg" alt="TrouverBornes">
        <h3>Trouver des bornes</h3>
        <p>Localisez facilement des bornes de recharge près de chez vous.</p>
      </div>
      <div class="card">
        <img src="assets/images/Communautaire.jpg" alt="Communautaire">
        <h3>Partage communautaire</h3>
        <p>Partagez vos bornes de recharge avec la communauté.</p>
      </div>
      <div class="card">
        <img src="assets/images/Notifications.jpg" alt="Notifications">
        <h3>Notifications</h3>
        <p>Recevez des notifications sur les nouvelles bornes disponibles.</p>
      </div>
    </div>
  </div>
</section>
<section class="testimonials">
  <div class="container">
    <h2>Ce que disent nos utilisateurs</h2>
    <div class="testimonial-cards">
      <div class="card">
        <p>"PartaGE m'a aidé à trouver des bornes de recharge rapidement et facilement. Une application indispensable pour les propriétaires de VE."</p>
        <p><strong>- Jean-Pierre Bouchard</strong></p>
      </div>
      <div class="card">
        <p>"Grâce à PartaGE, j'ai pu partager ma borne de recharge avec la communauté et rencontrer d'autres passionnés de véhicules électriques."</p>
        <p><strong>- Marie Curie</strong></p>
      </div>
    </div>
  </div>
</section>